.musicList-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.imagem-checkbox {
  height: 20px;
  width: 23px;
}

label > input {
  display: none;
}
