.album-container {
  align-items: center;
  display: flex;
}

.render-album {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

img {
  height: 100px;
  width: 100px;
}
